h1, h2 {
  text-align: center;
}

.score {
  display: block;
}

.end-game-message {
  display: block;
}

#loss-message {
  text-align: right;
  float: right;
  margin-right: 5em;
}

#win-message {
  text-align: left;
  float: left;
  margin-left: 5em;
}

#screen {
  border: 2px dashed black;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

button {
  padding-left: 0;
  padding-right: 0;
  margin: auto;
  display: block;
}

#player-score {
  text-align: left;
  float: left;
  margin-left: 20em;
}

#computer-score {
  text-align: right;
  float: right;
  margin-right: 20em;
}
